body {
    margin: 0px;
}

main {
    height: 800px;    
    width: 800px;
    background: black;
}

#block-1 {
    height: 800px;
    width: 261.33px;
    background-color: yellow;
    float: left
}

#block-2 {
    height: 300px;
    width: 261.33px;
    background-color: red;
    margin-left: 8px;
    float: left
}

#block-3 {
    height: 800px;
    width: 261.33px;
    background-color: blue;
    margin-left: 8px;
    float: left
}

#block-4 {
    height: 492px;
    width: 261.33px;
    background-color: white;
    margin-left:269.33px;
    margin-top:-492px;
    float:left
}