body {
margin: 0px;    
}

.hello {
list-style-type: none;
margin: 0px;
padding-left: 20px;
overflow: hidden;
background-color: wheat
}

.hai {
float:left;
padding-left: 5px
}

.hai a {
font-family: 'Sofia';    
display:block;
color:black;
text-align: center;
padding: 20px 20px;
text-decoration: none;
}

.hai a:hover {
background-color: rgb(202, 184, 151)    
}

header {
background-image: url("https://images.unsplash.com/photo-1570050785774-f60da7d2a29f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"); 
background-repeat: no-repeat;
background-size: cover;
}

.titel {
color: black;
text-align: center;
font-size: 50px;
font-family: 'Sofia'
}

.reflectie {
background-color: rgba(245, 222, 179, 0.753);
padding: 2% 
}

.actiepunten {
background-color: rgba(245, 222, 179, 0.479);
padding: 2% 
}

.toekomst {
background-color: rgba(245, 222, 179, 0.192);
padding: 2% 
}

.subtitel {
font-size: 25px;    
font-family: 'Sofia'; 
}

.tekst {
margin-right: 30%;
}

.foto1 {
width: 25%;
box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.212);
margin-left: 75%;
margin-top: -5%
}
    
.foto2 {
width: 12%;
box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.212);
margin-left: 75%;
margin-top: -13%    
}

footer {
font-family: 'Sofia'; 
text-align: center;
background-color: rgba(127, 106, 167, 0.767);
padding: 0.3%
}